.App-Container {
  background-color: rgb(25, 0, 150);
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.body, html {
  background: #000
}

.App-link {
  color: #61dafb;
}

.gameContainer {
  width: 50vw;
  background-color: white; 
  box-shadow: 0 0 5px #ccc;
  border-radius: 15px;
}

.screenMode {
  background: #ccc;
  font-size: 30px;
  width: 100px;
  height: 40px;
}

.screenMode:hover {
  background: #fff;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
