

.App-Container {
  background-color: #111;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.body, html {
  background-color: #111;
}

.gameContainer {
  width: 90vw;
  height: 80vh;
  background-color: white; 
  box-shadow: 0 0 5px #ccc;
  border-radius: 15px;
}

.screenMode {
  background: #ccc;
  font-size: 30px;
  width: 150px;
  height: 50px;
  margin-top: 20px;
}

.screenMode:hover {
  background: #fff;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
